
.main-container{
    margin-top: 3.5rem;
}

#post-container{
    min-height: 100dvh;
}





#statistics{
    border-top: 1px solid #dbdbdb;
}

.level-item > .icon:hover{

    transform: scale(1.08);
}

.level-item > .icon{
    transition: transform 0.3 ease;
}


.categoria{
    border-radius: 9999px;
    padding: 0.25rem !important;
}
.categoria:hover{

    cursor: pointer;
    background-color: rgba(58, 60, 61, 0.432);
}